<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>UserList</title>
</head>
<body>
<h1>
    User List
</h1>
<p>Navigation</p>
<a href="/">Home</a>
<a href="/newUser">New User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="users : ${list}">
            <td th:text="${users.id}">Onions</td>
            <td th:text="${users.getName()}">Onions</td>
            <td th:text="${users.lastName}">2.41</td>
            <td th:text="${users.email}">Onions</td>
            <td th:text="${users.company}">Onions</td>
        </tr>
    </tbody>
</table>
</body>
</html>
